<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %> 
                     
<ul class="users">
  <%= render @users %>
  
  
  <!--<% @users.each do |user| %>-->
  <!--  <%= render user %>　render の引数には、パーシャル名を指定するだけでなく、モデルのインスタンスオブジェクトを渡すことができて、
                            renderの、デフォルトの挙動で、app/views/リソース名/_モデル名.html.erb で、app/views/users/_user.html.erb となる。-->
  <!--<% end %>-->
  
</ul>

<%= will_paginate %>